<include file="Index/detail_head" />


<!--内容-->
<div class="neiye_banner" style="background:url(__PUBLIC__/Home/images/apply_head.png) no-repeat center center;background-size: cover; width:100%; height:450px; position:relative;">
<div class="clear"></div>
<div class="neiye_dabiaoti" style="width:280px;">申请入驻</div>
<!-- <div class="guanjiancicci">以人为本，服务社会，共建和谐，合作共赢</div> -->
	<div class="neiye_navq">
    </div>
</div>

<link href="__PUBLIC__/Home/css/index.css" rel="stylesheet" type="text/css">

<div class="neiye_cen">
<div class="shouye_guanyu_xiangxi lin">
	<div class="content" style="word-break:break-all;">
		
		<div id="ufoApply">
		<form id="applyForm" method="POST" data-reactid=".0">
			<div class="home-width form-two text-center" style="margin-top:100px;" data-reactid=".0.0">
				<div data-reactid=".0.0.0">
					<h2 data-reactid=".0.0.0.0">提交申请</h2>
					<p data-reactid=".0.0.0.1">
						<small data-reactid=".0.0.0.1.0">(附：带有* 为必填项目，请您仔细填写)</small>
					</p>
				</div>
				<div class="container  form-two" data-reactid=".0.0.1">
					<div class="col-md-6 col-sm-6" data-reactid=".0.0.1.0">
						
						<div class="form-group" data-reactid=".0.0.1.1.0">
							<input type="text" id="name" name="name" class="form-control" placeholder="产品/项目名称*" data-tv-valid="true" data-tv-notnull="产品/项目名称不能为空" data-reactid=".0.0.1.1.0.0">
						</div>
						
						<div class="form-group" data-reactid=".0.0.1.1.2">
							<input type="text" id="status" name="status" class="form-control" placeholder="项目目前情况 (需单选) *" data-tv-valid="true" data-tv-notnull="项目目前情况不能为空" data-reactid=".0.0.1.1.2.0">
						</div>
					</div>
					
					<div class="col-md-6 col-sm-6" data-reactid=".0.0.1.1">
						<div class="form-group" data-reactid=".0.0.1.0.0">
							<input type="text" id="desc" name="desc" class="form-control" placeholder="一句话介绍你的产品/项目*" data-tv-valid="true" data-tv-notnull="产品/项目不能为空" data-reactid=".0.0.1.0.0.0">
						</div>
						
						<div class="form-group" data-reactid=".0.0.1.0.2">
							<input type="text" id="address" name="address" class="form-control" placeholder="公司地址*" data-tv-valid="true" data-tv-notnull="公司地址不能为空" data-reactid=".0.0.1.0.2.0">
						</div>
						
					</div>
					
				</div>
				<div class="container" data-reactid=".0.0.2">
					<div class="col-md-12 col-sm-12" data-reactid=".0.0.2.0">
						<div class="form-group" data-reactid=".0.0.2.0.0">
							<textarea name="detail" id="detail" class="form-control" placeholder="项目详细介绍（300——800字） * " data-tv-valid="true" data-tv-notnull="项目详细介绍（300——800字）" data-reactid=".0.0.2.0.0.0"></textarea>
						</div>
					</div>
				</div>
				
			</div>
			<div class="home-width form-two text-center" data-reactid=".0.1">
				<div data-reactid=".0.1.0">
					<h2 data-reactid=".0.1.0.0">团队信息</h2>
					<p data-reactid=".0.1.0.1">
						<small data-reactid=".0.1.0.1.0">(附：带有* 为必填项目，请您仔细填写)</small>
					</p>
				</div>
				<div class="container  form-two" data-reactid=".0.1.1">
					<div class="col-md-6 col-sm-6" data-reactid=".0.1.1.0">
						<div class="form-group" data-reactid=".0.1.1.0.0">
							<input type="text" id="founder"  name="founder" class="form-control" placeholder="创始人姓名*" data-tv-valid="true" data-tv-notnull="创始人姓名不能为空" data-reactid=".0.1.1.0.0.0">
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.0.1">
							<input type="text" id="phone" name="phone" class="form-control" placeholder="电话*" data-tv-valid="true" data-tv-notnull="电话不能为空" data-reactid=".0.1.1.0.1.0">
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.0.2">
							<input type="text" id="wechat" name="wechat" class="form-control" placeholder="微信" data-reactid=".0.1.1.0.2.0">
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.0.3">
							<textarea name="background" id="background" class="form-control" placeholder="核心创始团队成员背景，分别用1-2句话展示各自能力优势。* " data-tv-valid="true" data-tv-notnull="核心创始团队背景不能为空" data-reactid=".0.1.1.0.3.0"></textarea>
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.0.4">
							<textarea name="superiority" id="superiority" class="form-control" data-tv-valid="true" data-tv-notnull="团队特色不能为空" placeholder="团队特色* " data-reactid=".0.1.1.0.4.0"></textarea>
						</div>
					</div>
				
					<div class="col-md-6 col-sm-6" data-reactid=".0.1.1.1">
						<div class="form-group" data-reactid=".0.1.1.1.0">
							<input type="text" id="birthday" name="birthday" class="form-control" placeholder="出生日期和时间*" data-tv-valid="true" data-tv-notnull="出生日期不能为空" data-reactid=".0.1.1.1.0.0">
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.1.1">
							<input type="text" id="email" name="email" class="form-control" placeholder="Email*" data-tv-valid="true" data-tv-notnull="Email不能为空" data-reactid=".0.1.1.1.1.0">
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.1.2">
							<input type="text" id="teamcount" name="teamcount" class="form-control" placeholder="目前团队人数*" data-tv-valid="true" data-tv-notnull="目前团队人数不能为空" data-reactid=".0.1.1.1.2.0">
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.1.3">
							<textarea name="experience" id="experience" class="form-control" placeholder="创业经历 " data-reactid=".0.1.1.1.3.0"></textarea>
						</div>
						
						<div class="form-group" data-reactid=".0.1.1.1.4">
							<textarea name="ideal" id="ideal" class="form-control" placeholder="公司主要业务方向、愿景及理想 " data-reactid=".0.1.1.1.4.0"></textarea>
						</div>
					</div>
			</div>

		<div class="container form-banner-dwon" data-reactid=".0.1.4">
			<div class="col-md-12 col-sm-12" data-reactid=".0.1.4.0">
				<button type="button" id="apply" class="btn btn-warning btn-lg btn-block" data-reactid=".0.1.4.0.0">马上提交</button>
			</div>
			<p id="applyFormMessage" style="color:red;" data-reactid=".0.1.4.1"></p>
		</div>
	</div>
    </div>
</div>
</div>
<!--内容-->

<script type="text/javascript">
$(function(){
  $("#apply").click(function(){
	var name = $("#name").val();
	if(name==""){alert("请填写项目名称");return;}
	
	var status = $("#status").val();
	if(status==""){alert("请填写项目状态");return;}
	
	var desc = $("#desc").val();
	if(desc==""){alert("请填写项目介绍");return;}
	
	var address = $("#address").val();
	if(address==""){alert("请填写公司地址");return;}
	
	var detail = $("#detail").val();
	if(detail==""){alert("请填写项目介绍");return;}
	
	var founder = $("#founder").val();
	if(founder==""){alert("请填写创始人姓名");return;}
	
	var phone = $("#phone").val();
	if(phone==""){alert("请填写联系电话");return;}
	
	var wechat = $("#wechat").val();
	if(wechat==""){alert("请填写微信号");return;}
	
	var superiority = $("#superiority").val();
	if(superiority==""){alert("请填写团队特色");return;}
	
	var birthday = $("#birthday").val();
	if(birthday==""){alert("请填写出生日期");return;}
	
	var email = $("#email").val();
	if(email==""){alert("请填写邮箱");return;}
	
	var teamcount = $("#teamcount").val();
	if(teamcount==""){alert("请填写团队人数");return;}
	
      var data=$("#applyForm").serialize();
      $.post("{:U('Home/Index/do_apply')}",data,function(result){
        if (result.code>0) {
          alert(result.msg);location.reload()
        }else{
          alert(result.msg);alert(result);
        }
      })
  })


})

</script>


<include file="Index/common_foot" />