<!--<!DOCTYPE html>-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>中原影视孵化器有限公司</title>
<meta name="keywords" content="">
<meta name="description" content="中原影视孵化器有限公司">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link href="__PUBLIC__/Home/css/public.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jquery.fancybox.css">
<link href="__PUBLIC__/Home/css/css.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css">

<!--<link href="__PUBLIC__/Home/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.mousewheel.min.js"></script>

</head>
<body style="padding:0px;margin: 0px;">
<div class="actGotop">
  <div class="shouye_top_logo"><a href="index.html"><img src="__PUBLIC__/Home/images/logo.png"><h2><!-- 北京五岳河环保科技有限公司 --></h2></a></div>
  <div class="shouye_top_nav">
    <div class="shouye_xiala fLe">
      <ul class="nav clearfix">
        <li id="m1" class="m">
          <h3><a href="{:U('Home/Index/index')}">首页</a></h3>          
        </li>

        <li id="m1" class="m">
          <h3><a href="{:U('Home/Index/wlist')}">关于我们</a></h3>
          <ul class="sub">      
				<li><a href="{:U('Home/Index/wlist')}?id=1">简介</a></li>
				<li><a href="{:U('Home/Index/wlist')}?id=2">管理团队</a></li>
				<li><a href="{:U('Home/Index/wlist')}?id=3">组织架构</a></li>
				<li><a href="{:U('Home/Index/wlist')}?id=4">孵化范围</a></li>
				<li><div id="menuNav"><a href="#fqdw">发起单位</a></div></li>
				<li><div id="menuNav"><a href="#cyds">创业导师</a></div></li>		
				<li><div id="menuNav"><a href="#fwzc">服务支持</a></div></li>
          </ul>
        </li>

        <li id="m1" class="m">
			<h3><div id="menuNav"><a href="#tdxm">入驻团队与项目</a></div></h3>
        </li>

         <li id="m1" class="m">
			<h3><div id="menuNav"><a href="#xwzx">新闻资讯</a></div></h3>
        </li>

        <li id="m1" class="m">
			<h3><div id="menuNav"><a href="#sqrz">申请入驻</a></div></h3>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
        jQuery(".nav").slide({
            type: "menu",
            titCell: ".m",
            targetCell: ".sub",
            effect: "slideDown",
            delayTime: 300,
            triggerTime: 0,
            returnDefault: true 
        });
    </script>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<!--top-->
<!--top-->

