<include file="Index/detail_head" />

<!--内容-->
<div class="neiye_banner" style="background:url(__PUBLIC__/Home/images/com_head.png) no-repeat center center;background-size: cover; width:100%; height:450px; position:relative;">
<div class="clear"></div>
<div class="dabiaotiss" style="color:#f6881b !important;"></div>
<!-- <div class="guanjiancicci">以人为本，服务社会，共建和谐，合作共赢</div> -->
	<div class="neiye_navq">
		
		<div class="clear"></div>      
    </div>
</div>
<div class="neiye_cen">
<div class="clear"></div>
<div class="shouye_guanyu_biaoti"> <em>发起单位</em><br>
  <!-- <span>ABOUT US</span> -->
</div>
<div class="shouye_guanyu_xiangxi lin">
    <style>span{background-color: transparent!important;}</style>
    <h4 style="text-align:center;font-size: 33px"><em>{$list.title}</em></h4>
    <div class="clear" style="height:30px;"></div>
    <div style="margin-top:5px;margin-bottom:20px;"><div><b> </b></div></div>
		<div class="content">
			{$list.content}
		</div>
</div>
</div>
<!--内容-->

<include file="Index/common_foot" />