<include file="Index/common_head" />


<style>
  .shouye_qiehuan_xinwe .bd ul li{width: 300px;height: 520px!important;    padding-top: 0;}
  .shouye_qiehuan_xinwe .bd ul li .pic img{width: 100%;}
  .huiyuan_qiehuan .hd ul li {cursor: pointer;display: inline-block;zoom: 1;width: 10px;height: 4px;margin: 1px;overflow: hidden;background: #252729;border: 1px solid #7b7b7b;filter: alpha(opacity=50);opacity: 0.9;line-height: 999px;}
  .huiyuan_qiehuan .hd ul .on { background: #8aa201; border: 1px solid #8aa201; }
</style>
<!--引导图-->
<div class="huiyuan_qiehuan">
  <div id="header">
    <div class="xiajianniu" id="menuNav"> <a href="#zuopin"></a> </div>
  </div>
  <div class="bd">
    <ul class="ui">

    <li >
		<div class="neiye_banner" style="background:url(__PUBLIC__/Home/images/t1.jpg) no-repeat center center;background-size: cover; width:100%; height:971px; position:relative;">
		<div class="dabiaotiss" style="color:#FCFCFC !important;">专注于做影视行业创新创业载体</div><br><br>
		<div class="jiaru"><a href="{:U('Home/Index/apply')}"><em style="font-size:20px;">加入我们 / JION US</em></a></div>
    </li>
	
	<li >
		<div class="neiye_banner" style="background:url(__PUBLIC__/Home/images/t2.jpg) no-repeat center center;background-size: cover; width:100%; height:971px; position:relative;">
		<div class="dabiaotiss" style="color:#FCFCFC !important;">搭建中国中部影视产业全方位创新创业服务平台</div>
    </li>
	
	<li >
		<div class="neiye_banner" style="background:url(__PUBLIC__/Home/images/t3.jpg) no-repeat center center;background-size: cover; width:100%; height:971px; position:relative;">
		<div class="dabiaotiss" style="color:#FCFCFC !important;">集结中国中部有志影视人，孵化精品影视剧</div>
    </li>
    </ul>
  </div>
  <div class="hd">
    <ul><li class="on">1</li><li class="">2</li><li class="">3</li></ul>
  </div>
  <span class="prev"></span> <span class="next"></span> </div>
<script type="text/javascript">
		jQuery(".huiyuan_qiehuan").hover(function(){ jQuery(this).find(".prev,.next").stop(true,true).fadeTo("show",0.5) },function(){ jQuery(this).find(".prev,.next").fadeOut() });
		jQuery(".huiyuan_qiehuan").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click",
			startFun:function(i){
				var curLi = jQuery(".huiyuan_qiehuan .bd li").eq(i);
				if( !!curLi.attr("_src") ){
					curLi.css("background-image",curLi.attr("_src")).removeAttr("_src")
				}
			}
		});
	</script>
<!--引导图-->

<!--关于我们-->
<div id="zuopin" class="colTitBar colTitBar1">
  <h2 class="tit1" title="zuopin"></h2>
</div>
<div class="shouye_guanyu_biaoti"> <em>关于我们</em><br>
  <span>ABOUT US</span>
</div>
<!--<div><img src="..\..\..\Public\Home\images\webslogan.png" style="margin: 10px auto;"></div>-->
<br>
<div class="shouye_guanyu_xiangxi js-about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
	中原影视孵化器，由河南电影电视制作集团有限公司和河南华隆股权投资基金管理有限公司、河南金犁风险投资管理有限公司、河南大象影视制片有限公司、河南易元置业有限公司、河南省悦汇文化传播有限公司、河南中财创业投资管理有限公司、河南哲思出版传媒股份有限公司为主要发起人联合发起创办，是在国家深入实施创新驱动发展战略和适应经济发展新常态的大背景下，是在全国影视行业的迅猛发展，中国社会对影视文化产业飞速提升的需求，影视行业创业拥有了巨大的发展空间的大环境里，组建的专注于全方位助推影视产业创新创业的孵化平台。
国内首家影视行业细分孵化器——中原影视孵化器位于郑东高铁核心，新客站南，与郑东CBD、CGD、大学城相邻，交通和生活便利，科技和文化资源丰富，便于创新资源和创业者集聚，固定办公场地一期投入使用面积2400平方米。

<div class="shouye_chakangengduo"><a href="{:U('Home/Index/wlist')}?id=1">点击查看更多</a></div></div>
<!--关于我们-->


<!--发起单位-->
<div class="shouye_guanyu_biaoti" id="fqdw"> <em></em><br><br>
<div class="shouye_guanyu_biaoti" id="fqdw"> <em>发起单位</em><br>
  <span>SERVICES</span>
</div>

<div class="danwei_shouye_tu_liebiao">
  <ul>

	<volist name="list_company" id="vo">
		<li onclick="javascript:location.href='{:U('Home/Index/detail_com')}?id={$vo.id}';">
		  <div class="shouye_fenlei_bg2">
			<div class="fenlei_bg2"></div>
			<div class="fenlei_tu2">
			  <a href="{:U('Home/Index/detail_team')}?id={$vo.id}">
				<div >
					<img src="{$vo.image}" style="width:100%; height:100%!important;">
				</div>
			  </a>
			</div>
			<div class="fenlei_bai_bg2"></div>
			<div class="fenlei_wem2"><span>{$vo.title}</span><p style="margin-top: 33px;color: #fff;font-size: 14px;padding: 0 20px;"></p></div>        
		  </div>
		</li>
	</volist>

    <div class="clear"></div>
    </ul>
</div>
<!--<div class="shouye_chakangengduo" style="margin-bottom: 50px;"><a href="wlist (9).html?id=4">点击查看更多</a></div>-->

<!--发起单位-->





<!--创业导师-->
<div class="shouye_guanyu_biaoti" id="cyds"> <em></em><br><br>
<div class="shouye_guanyu_biaoti"> <em>创业导师</em><br>
  <span>PARTNER</span>
</div>
<div class="shouye_par2_cen cyds">
<div class="bd">
  <ul style="list-style-type:none">
    <volist name="list_teacher" id="vo">
		<li style="margin-top:0px;">
		  <div class="shouye_fenlei_bg">
			<!--<div class="fenlei_bg"><a href="javascript:"></a></div>-->
			<div class="fenlei_tu"><a href="javascript:"><img src="{$vo.image}" style="width:180px;hegiht:180px;"></a></div>
			<div class="fenlei_bai_bg" style="display: block; opacity: 0;"><a href="javascript:"></a></div>
			<div class="fenlei_wem" style="display: block; opacity: 0;"><a class="fancybox" href="#inline{$vo.id}">{$vo.title}<span> </span><em><img src="__PUBLIC__/Home/images/6.png" width="37" height="37"></em></a></div>
		  </div>
		</li>
	</volist>
  </ul>
  
	<volist name="list_teacher" id="vo">
		<div id="inline{$vo.id}" style="width:1283px; height:382px;display: none;">
	<!--    <div class="tuandui_tu_shouye fLe"><img src="/upload/201508/17/201508171757546634.jpg" width="180" /></div>-->    
			<div class="shouye_tuandui_wen fLe">
				<iframe allowtransparency="true" src="{:U('Home/Index/show')}?id={$vo.id}" style=" width:100%; height:100%;" frameborder="no" border="0">&lt;/&gt;</iframe>
			</div>    
			<div class="clear"></div>
	  </div>
	</volist>
  
  
</div>
<!--
<div class="shouye_chakangengduo" style="margin-bottom: 50px;"><a href="wlist (7).html?id=15">点击查看更多</a></div>
-->
</div>

<script type="text/javascript">
  jQuery(".cyds").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:8,interTime:50});
</script>


<!--团队与项目-->
<style>

</style>
<div class="shouye_xinwen">
<div class="clear"></div>
<div class="shouye_guanyu_biaoti" id="tdxm"><br>
<div class="shouye_guanyu_biaoti"> <em>团队与项目</em><br>
  <span>PATENTS</span>
</div>
<br>
<div class="beijing">
	<div class="shouye_liucheng">
    	<a href="{:U('Home/Index/team')}?id=1"><span>入驻团队</span><em style="width:274px">BE SETTLED IN THE TEAM</em></a>
    </div>
    <div class="shouye_tijiao" >
    	<a href="{:U('Home/Index/team')}?id=2"><span>孵化项目</span><em style="width:274px">INCUBATION PROJECT</em></a>
    </div>
	<img src="__PUBLIC__/Home/images/apply.png" style="width:100%; height:100%;">
</div>
<!--团队与项目-->


<!--服务支持-->
<style>

</style>
<div class="shouye_xinwen">
<div class="clear"></div>
<div class="shouye_guanyu_biaoti" id="fwzc"><br>
<div class="shouye_guanyu_biaoti"> <em>服务支持</em><br>
  <span>PATENTS</span>
</div>
<br>
<div class="beijing">
	<div class="shouye_liucheng">
    	<a href="{:U('Home/Index/service')}?id=4"><span>产业基金</span><em style="width:274px">INDUSTRIAL FUND</em></a>
    </div>
    <div class="shouye_tijiao" >
    	<a href="{:U('Home/Index/service')}?id=5"><span>基础服务</span><em style="width:274px">BASIC SERVICE</em></a>
    </div>
	<img src="__PUBLIC__/Home/images/service.png" style="width:100%; height:100%;">
</div>
<!--服务支持-->


<!--资讯-->
<div class="shouye_xinwen" style="background-color:#fff;">
<div class="clear"></div>
<div class="shouye_guanyu_biaoti" id="xwzx"><br>
<div class="shouye_guanyu_biaoti"> <em>新闻资讯</em><br>
  <span>NEWS</span>
</div>
<div class="shouye_qiehuan_xinwe js-news">
  <div class="bd">
    <ul class="picList">
		 <volist name="list_news" id="vo">
			<li>
				<div class="pic"><a href="{:U('Home/Index/detail_news')}?id={$vo.id}"><img src="{$vo.image}"></a></div>
				<div class="title">
					<div class="xinwen_biaoti_shouye"><a href="{:U('Home/Index/detail_news')}?id={$vo.id}">{$vo.title}</a></div>
					<div class="xinwen_shijian">2016-08-31</div>
					<div class="xinwenmiaosu_shouye"><a href="{:U('Home/Index/detail_news')}?id={$vo.id}" class="aq">{$vo.desc}</a></div>
				</div>
			 </li>
		</volist>

	</ul>
  </div>
	<div class="hd"> 
		
		<a class="next"><img src="__PUBLIC__/Home/images/next.png"></a>
			<ul></ul>
		<a class="prev"><img src="__PUBLIC__/Home/images/prev.png"></a> 
	</div>
    <div class="shouye_chakangengduo"><a href="{:U('Home/Index/news')}">点击查看更多</a></div>
</div>
<script type="text/javascript">
		jQuery(".js-news").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:false,vis:5,trigger:"click"});
    // {titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:false,vis:5,trigger:"click"}
		</script>
</div>
<!--资讯-->




<!--服务支持-->
<style>

</style>
<div class="shouye_xinwen">
<div class="clear"></div>
<div class="shouye_guanyu_biaoti" id="sqrz"><br>
<div class="shouye_guanyu_biaoti"> <em>申请入驻</em><br>
  <span>PATENTS</span>
</div>
<!--服务支持-->
<center>
<div class="services" id="services">
				<div class="container">
					<div class="service-grids">
						<div class="col-md-4 ser-grid">
							<div class="ser-left">
								<i class="glyphicon" aria-hidden="false" style="font-family:微软雅黑;">一</i>
							</div>
							<div class="ser-right">
								<h4 style="font-family:微软雅黑;">入驻咨询</h4>
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="col-md-4 ser-grid">
							<div class="ser-left">
								<i class="glyphicon" aria-hidden="true" style="font-family:微软雅黑;">二</i>
							</div>
							<div class="ser-right">
								<h4 style="font-family:微软雅黑;" style="font-family:微软雅黑;">项目申请</h4>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-4 ser-grid">
							<div class="ser-left">
								<i class="glyphicon" aria-hidden="true" style="font-family:微软雅黑;">三</i>
							</div>
							<div class="ser-right">
								<h4 style="font-family:微软雅黑;" style="font-family:微软雅黑;">初步评审</h4>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="service-grids">
						<div class="col-md-4 ser-grid">
							<div class="ser-left">
								<i class="glyphicon" aria-hidden="true" style="font-family:微软雅黑;">四</i>
							</div>
							<div class="ser-right">
								<h4 style="font-family:微软雅黑;">专家评审</h4>
								<p></p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-4 ser-grid">
							<div class="ser-left">
								<i class="glyphicon" aria-hidden="true" style="font-family:微软雅黑;">五</i>
							</div>
							<div class="ser-right">
								<h4 style="font-family:微软雅黑;">签订协议</h4>
								<p></p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-4 ser-grid">
							<div class="ser-left">
								<i class="glyphicon" aria-hidden="true" style="font-family:微软雅黑;">六</i>
							</div>
							<div class="ser-right">
								<h4 style="font-family:微软雅黑;">正式入驻</h4>
								<p></p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="shouye_chakangengduo"><a href="{:U('Home/Index/apply')}">点击申请</a></div>
				</div>
			</div>
		

		</center>
		
<!--部分客户-->
<include file="Index/common_foot" />